.customers {
    margin-bottom: 149px;
}

.customers__container {
    padding-top: 55px;
    height: 1px;
    width: 100%;
    border-top: 1px solid #e1e4eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
