// Footer
.page-footer {
  display: block;
  background: $black;
  padding: 62px 0 40px 0;
  color: $white;

  & .form-email__input{
    width: 50%;
  }
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
  border-bottom: 1px solid rgba(225, 228, 235, 0.15);
}

.page-footer__navigation {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.page-footer__heading {
  margin-bottom: 21px;
}

.page-footer__link {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s all cubic-bezier(1, 0, 0, 1.04);

  &:hover {
    opacity: 0.7;
    text-decoration: solid underline $violet 2px;
  }
}

.page-footer__bottom {
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__social-media {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}

.page-footer__input{
  width: 50%;
}