// Header

.page-header {
    padding: 29px 0;
}

.page-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header__list {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    margin: 0 -23.5px;
}

.page-header__item {
    margin: 0 23.5px;

    &--current a{
        opacity: 0.5;
    }

    & a:hover {
     color: lighten($violet, 10%);
    }
}

.page-header__link {
    padding: 9px 14px 8px;

    &--sign-up {
        border: 1px solid #e1e4eb;
        border-radius: 5px;
        margin-left: 12px;

        &:hover{
            background: #e1e4eb;
            color: $white;
        }
    }
}
