.services__heading {
    text-align: center;
    line-height: 78px;
    margin: 0 auto;
    width: 69%;
    margin-bottom: 62px;
}

.services__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 42px;
}

.services__item {
    background-color: #f8f8f8;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 78px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;

    &:nth-child(1) {
        background-image: url("../img/services-icons/locked.svg");
    }

    &:nth-child(2) {
        background-image: url("../img/services-icons/fire.svg");
    }

    &:nth-child(3) {
        background-image: url("../img/services-icons/puzzle.svg");
    }

    &:nth-child(4) {
        background-image: url("../img/services-icons/team.svg");
    }

    &:nth-child(5) {
        background-image: url("../img/services-icons/administrator.svg");
    }

    &:nth-child(6) {
        background-image: url("../img/services-icons/email.svg");
    }
}

.services__name {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -1.6px;
    margin-bottom: 15px;
}

.services__text {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
}

.services__link {
    display: flex;
    background: url("../img/services-icons/arrow.svg");
    width: 65px;
    height: 65px;
    justify-self: center;
    transition: 0.3s all ease-in;
    background-size: contain;

    &:hover {
        width: 70px;
        height: 70px;
    }

    &:active {
        opacity: 0.5;
    }
}

.services__paragraph {
    text-align: center;
    width: 68%;
    margin: 0 auto;
    margin-bottom: 34px;
}

.services__button {
    padding-left: 18px;
    padding-right: 18px;
    margin: 0 auto;
    display: block;
}
