@use "sass:math";
$containerWidth: 100%;
$containerPadding: 290;
$containerSidePadding: math.div($containerPadding, 2);

$white: #ffffff;
$black: #111111;
$violet: #783bff;
$green: #6ac75a;


$fontMain: sans-serif;
$fontSecondary: "";
